<div class="ui-g-12">
    <div class="ui-g-12">
        <div class="ui-g-3" >
            <span class="ui-float-label">
                <input style="width: 97%;"[(ngModel)]="pesquisa.cargo" id="float-input" type="text" size="30" pInputText>
                <label for="float-input">Cargo</label>
            </span>
        </div>
        <div class="ui-g-3" >
            <span class="ui-float-label" style="float: right;">
                <input style="width: 95%;" [(ngModel)]="pesquisa.localidade" id="float-input" type="text" size="30" pInputText>
                <label for="float-input">Localidade</label>
            </span>
        </div>
        <div class="ui-g-3" >
            <span class="ui-float-label" style="float: right;">
                <p-spinner size="20" [(ngModel)]="pesquisa.qtd" [step]="10"></p-spinner>
                <label for="float-input">Quatidade a pesquisar</label>
            </span>
        </div>
        <div class="ui-g-3" >
            <p-button [disabled]="atualizar" (click)="pesquisar()" [style]="{'width': '215px', 'margin-left' : '0%'}" icon="pi pi-search" label="Pesquisar"></p-button>
        </div>
    </div>
    <div class="ui-g-12">
        <p-listbox [listStyle]="{'max-height':'100px'}" [options]="setores" [(ngModel)]="pesquisa.setores" [multiple]="true" [checkbox]="true"  filter="filter" optionLabel="nome">
            <p-header>
                Setores
            </p-header>
        </p-listbox>
    </div>
</div>

<div class="ui-g-12" *ngIf="atualizar">
    <h3 style="margin-left: 30.5%;">Pesquisando pessoas no Linkedin {{qtdpessoas}} de {{pesquisa.qtd}}</h3>
    <i class="pi pi-spin pi-spinner" style="font-size: 3em; margin-left: 47.5%;"></i>
</div>

<div class="ui-g-12" *ngIf="atualizar">
  <p-progressBar [value]="progress" [style]="{'color': '#8BC34A'}"> </p-progressBar>
</div>

<div class="ui-g-12" style="margin-top: 2%; width: 100%;" *ngIf="qtdpessoas > 0">
    <p-table #dt [value] = "pessoas" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
    [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
    [paginator]="true" currentPageReportTemplate="{last} de {totalRecords} pessoas"
    [filterDelay]="0" [globalFilterFields]="['primeiroNome','sobrenome','cargo','empresa','email', 'email_status']">
        <ng-template pTemplate="caption">
            Pessoas
            <div class="ui-table-globalfilter-container">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filtrar" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="primeiroNome">Nome <p-sortIcon field="primeiroNome"></p-sortIcon></th>
                <th pSortableColumn="sobrenome">Sobrenome <p-sortIcon field="sobrenome"></p-sortIcon></th>
                <th pSortableColumn="cargo">Cargo <p-sortIcon field="cargo"></p-sortIcon></th>
                <th pSortableColumn="empresa">Empresa <p-sortIcon field="empresa"></p-sortIcon></th>
                <th pSortableColumn="email_status">Status<p-sortIcon field="email_status"></p-sortIcon></th>
                <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr class="ui-selectable-row">
                <td>
                    <!-- <img [alt]="pessoa.name" src="assets/images/{{pessoa.image}}" width="32" style="vertical-align: middle" /> -->
                    <span style="vertical-align: middle; margin-left: .5em">{{pessoa.primeiroNome}}</span>
                </td>
                <td>
                    <span style="vertical-align: middle; margin-left: .5em">{{pessoa.sobrenome}}</span>
                </td>
                <td>
                    <span style="vertical-align: middle; margin-left: .5em">{{pessoa.cargo}}</span>
                </td>
                <td>
                    <span style="vertical-align: middle; margin-left: .5em">{{pessoa.empresa}}</span>
                </td>
                <td>
                  <div [class]="'customer-badge status-' + pessoa.email_status" >{{pessoa.email_status}}</div>
                </td>
                <td>
                    <span style="vertical-align: middle; margin-left: .5em">{{pessoa.email}}</span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td  style="width: 100%; height: 100%;" colspan="8" style="text-align:left">Pessoas não encontradas.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

